<table mat-table [dataSource]="fakeData">
  <!-- Status Column -->
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef> Status </th>
    <td mat-cell *matCellDef="let element" [ngSwitch]="element.status">
      <mat-icon *ngSwitchCase="STATUS.DEPLOYED" class="deployed-icon">check_circle</mat-icon>
      <mat-icon *ngSwitchCase="STATUS.UNDEPLOYED" class="undeployed-icon">cancel</mat-icon>
      <mat-icon *ngSwitchCase="STATUS.UNKNOWN" class="unknown-icon">help_outline</mat-icon>
    </td>
  </ng-container>

  <!-- App Column -->
  <ng-container matColumnDef="app">
    <th mat-header-cell *matHeaderCellDef> App </th>
    <td mat-cell *matCellDef="let element">
      <img [src]=element.image> {{element.app}} </td>
  </ng-container>

  <!-- Manufacturer Column -->
  <ng-container matColumnDef="manufacturer">
    <th mat-header-cell *matHeaderCellDef> Manufacturer </th>
    <td mat-cell *matCellDef="let element"> {{element.manufacturer}} </td>
  </ng-container>

  <!-- Version Column -->
  <ng-container matColumnDef="version">
    <th mat-header-cell *matHeaderCellDef> Version </th>
    <td mat-cell *matCellDef="let element"> {{element.version}} </td>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let element">
      <mat-icon>delete</mat-icon>
      <mat-icon>update</mat-icon>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
