table{
  width: 100%;
}

.deployed-icon {
  color: lightgreen;
}

.undeployed-icon {
  color: red;
}

unknown-icon {
  color: darkgrey;
}

img {
  height: 50px;
  vertical-align: inherit;
  margin: 5px;
}
