.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  //position: sticky;
  //top: 0;
  //z-index: 1;
}

#main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

mat-sidenav-container {
  flex: 1;
  height: 100%;
  display: flex;
}

mat-sidenav {
  position: relative;
  min-width: 200px;
}

mat-sidenav:not(.mat-drawer-opened) {
  position: absolute;
}

mat-sidenav-content {
  margin-left: 0px !important;
  width: 100%;
  height: 100%;
}

#avatar-icon {
  vertical-align: sub;
}

#logo {
  height: 50px;
}

#copyright{
  font-size: 0.7em;
}

#header, #footer {
  height: auto;
}

#main-area {
  flex: 1;
  overflow: auto;
}

mat-chip-avatar img {
  height: 30px;
}

#avatar {
  height: 50px;
  border-radius: 25px;
  width: 50px;
  object-fit: contain;
  background-color: white;
}
