<div id="main">
  <mat-toolbar id="header" class="bg-color-lightgrey">
    <img id="logo" src="assets/FLECS-Logo.png"/>
    <div class="flex-filler"></div>
    <img id="avatar" src="assets/jschuldes.png"/>
  </mat-toolbar>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav"
                 [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
                 [mode]="(isHandset$ | async) ? 'over' : 'side'"
                 [opened]="(isHandset$ | async) === false"
                  >

      <app-flecs-sidenav></app-flecs-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar class="bg-color-lightgrey"
                   *ngIf="isHandset$ | async">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      </mat-toolbar>
      <!-- Add Content Here -->
      <app-flecs-content></app-flecs-content>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <mat-toolbar id="footer" class="bg-color-lightgrey">
    <span id="copyright" class="color-pink">© 2021 FLECS Technologies GmbH </span>
  </mat-toolbar>
</div>

