<mat-nav-list>
  <a mat-list-item routerLink="deployments" routerLinkActive="route-active">
    <mat-icon>widgets</mat-icon>
    <span class="list-text">Deployments</span>
    <mat-icon class="chevron_right">chevron_right
    </mat-icon>
  </a>
  <a mat-list-item routerLink="marketplace" routerLinkActive="route-active">
    <mat-icon>store</mat-icon>
    <span class="list-text">Marketplace</span>
    <mat-icon class="chevron_right">chevron_right</mat-icon>
  </a>
</mat-nav-list>
