
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$flecs-webapp-primary: mat.define-palette(mat.$indigo-palette);
$flecs-webapp-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$flecs-webapp-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$flecs-webapp-theme: mat.define-light-theme((
  color: (
    primary: $flecs-webapp-primary,
    accent: $flecs-webapp-accent,
    warn: $flecs-webapp-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($flecs-webapp-theme);

/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  font-family: Quicksand, "Helvetica Neue", sans-serif !important;
  display: flex;
  flex-direction: column;
}

/* Global styles e.g. flex related */

.flex-filler{
  flex: 1;
}

.bg-color-cyan {
  background-color: #08D9D6;
}

.bg-color-pink {
  background-color: #FF2E63;
}

.color-pink {
  color: #FF2E63;
}

.bg-color-lightgrey {
  background-color: #EAEAEA;
}

.bg-color-black {
  background-color: #000000;
}

.bg-color-white {
  background-color: #FFFFFF;
}


